{% extends "blog/base.html" %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css" />

{% block content %}
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    {% for post in posts %}

  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne{{ post.pk }}" aria-expanded="false" aria-controls="collapseOne{{ post.pk }}">

        {{ post.title }}</a>
      </h4>
    </div>
    <div id="collapseOne{{ post.pk }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
          <div class="post">
            <div class="date">
            {{ post.published_date }}
        </div>
              <h1><a href="{% url "blog.views.post_detail" pk=post.pk %}">{{ post.title }}</a></h1>
               <a href="{% url 'blog.views.post_detail' pk=post.pk %}">Comments: {{ post.approved_comments.count }}</a>
    </div>
       <p>{{ post.text|linebreaks }}</p>
      </div>
    </div>
  </div>

  {% endfor %}
     </div>
{% endblock content %}